# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Build / packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints

# Data / models (don’t commit large files)
*.pkl
*.joblib
*.db
*.sqlite
/models/
data/

# System / OS
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.swp
